.intro-contato{
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
}

/* FORMULÁRIO CONTATO */

.contato{
    padding: 40px 0;
}

.form-contato{
    padding-right: 60px;
    @include d(m){
        padding-right: 0px;
        margin-bottom: 40px
    }
}

.form-contato label{
    display: block;
    margin-bottom: 4px;
    @include tipo-2(18);
}

.form-contato input{
    display: block;
    width: 100%;
    background: none;
    border: $primary-color 4px solid;
    padding: 7px 10px;
    margin-bottom: 10px;
    outline: none; /* tira efeito de contorno da borda */
    @include tipo-2(14);
}

.form-contato textarea{
    display: block;
    width: 100%;
    height: 120px;
    background: none;
    border: $primary-color 4px solid;
    padding: 7px 10px;
    margin-bottom: 20px;
    outline: none; /* tira efeito de contorno da borda */
    @include tipo-2(14);
}

.form-contato button{
    background: none;
    padding: 7px 40px;
}

/* DADOS CONTATO */

.dados-contato {
    padding-right: 60px;
}

.dados-contato h3{
    color: $primary-color;
    text-transform: uppercase;
    @include tipo-1 (18);
    font-weight: bold;
    letter-spacing: .1em;
    line-height: 20px;
}

.dados-contato span{
    display: block;
    @include tipo-2 (18);
    line-height: 30px;
}

.dados-contato span:nth-of-type(even){
    margin-bottom: 30px;
}

/* REDES SOCIAIS */

.dados-contato ul{
    margin-top: 10px;
}

.dados-contato ul li{
    display: inline-block;
    /* list-style: none; */
    margin-right: 10px;
}

.dados-contato ul li a{
    border: $primary-color solid 3px;
    display: block;
    padding: 10px;
}

.dados-contato ul li a:hover{
    border-color: $secondary-color;
}

.mapa{
    margin-bottom: 60px;
}