/* ESTILOS GERAIS */

body{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    @include tipo-2(14);
}

img{
    display: block;
    max-width: 100%; /* img fluída */
}

.btn{
    border: 3px solid $primary-color;
    padding: 10px 30px;
    color: $primary-color;
    @include tipo-1 (14);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.btn:hover{
    color: $white;
    border-color: $white;
}

.btn.btn-preto:hover{
    color: $secondary-color;
    border-color: $secondary-color;
}

.subtitle{
    @include tipo-1 (24);
    font-weight: bold;
    color: $secondary-color;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.subtitle:after{
    content: " ";
    display: block;
    width: 60px;
    height: 3px;
    background: $secondary-color;
    margin: 6px auto;
}

.subtitle-interno{
    @include tipo-1 (24);
    font-weight: bold;
    color: $secondary-color;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.subtitle-interno:after{
    content: " ";
    display: block;
    width: 60px;
    height: 3px;
    background: $secondary-color;
    margin: 6px;
}


/* HEADER */

.header {
    position: fixed; /* sempre fixo no */
     top: 0;         /* topo do site */     

    width: 100%; /* pegar de ponta a ponta da pag*/ 
    background-color: $primary-color;
    padding: 15px 0 ;
    z-index: 10; /* posiciona o header por cima do elemento com position */
    @include d(m){
        position: relative;
        padding-bottom: 0;
    }
}

.header img{
    @include d(m){
        margin: 0 auto 12px;
    }
}

.header_menu {
    text-align: right;
    /*padding: 20px 0;*/
    @include d(m){
        text-align: center;
    }
}

.header_menu ul li{
    display: inline-block;
    margin-left: 25px;
    margin-top: 20px;
    @include d(m){
        margin: 4px;
    }
}

.header_menu ul li a{
    color: $secondary-color;
    text-transform: uppercase;
    letter-spacing: .1em;
    @include tipo-1 (14);
    font-weight: bold;
    padding: 10px 0 ;
    @include d(m){
        border: 4px solid $secondary-color;
        width: 136px;
        display: block;
        float: left;
    }
}

.header_menu ul li a:hover{
    color: $white;
    @include d(m){
        border-color: $white;
    }
}

.header_menu ul li a.menu-ativo{ /* cor no title da pag atual */
    color: $white;
}

/* INTRODUÇÃO */

.introducao{
    width: 100%;
    height: 380px;
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
    margin-top: 92px;
    text-align: center;
    padding-top: 80px;
    @include d(m){
        margin: 0;
        padding: 40px;
        background: url("../img/bg-mobile.jpg") no-repeat center;
        background-size: cover;
    }
}

.introducao h1{
    @include tipo-1 (48);
    text-transform: uppercase;
    font-weight: bold;
    color: $white;
    @include d(m){
        @include tipo-1 (36);
    }
}

/* INTRODUÇÃO INTERNA */

.introducao-interna{
    width: 100%;
    height: 160px;
    margin-top: 92px;
    text-align: center;
    color: $white;
    padding-top: 30px;
    @include d(m){
        margin: 0;
    }
}

.introducao-interna h1{
    @include tipo-1 (36);
    text-transform: uppercase;
    font-weight: bold;
    /* color: $white; */
}

.introducao-interna h1:after{
    content: " ";
    display: block;
    width: 60px;
    height: 3px;
    background: $white;
    margin: 6px auto;
}

.quote_externo{
    max-width: 259px;
    margin: 0 auto;
    color: $white;
    margin-bottom: 50px;
}

.quote_externo p{
    font-style: italic;
}

.quote_externo p:before, .quote_externo p:after{
    content: " ";
    display: block;
    width: 60px;
    height: 3px;
    background: $white;
    margin: 10px auto;
}

.quote_externo cite{
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    @include tipo-1 (14);
    letter-spacing: .1em;
}

/* PRODUTOS */

.produtos{
    padding: 60px 0;
}

.produtos_lista li{
    background: $primary-color;
    text-align: center;
}

.produtos_lista img{
    margin: 0 auto;
}

.produtos_lista li h3{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 20px;
    @include tipo-1 (18);
}

.produtos_lista li h3:after{
    content: " ";
    display: block;
    width: 60px;
    height: 3px;
    background: $secondary-color;
    margin: 2px auto;
}

.produtos_icone{
    padding: 20px;
    background: $secondary-color;
}

.produtos_lista li p{
    padding: 10px 20px 20px 20px;
}

.call{
    text-align: center;
    clear: both; /* limpa o float */
    padding-top: 20px;
    @include d(m){
        padding-top: 10px;
    }
}

.call p{
    margin-bottom: 20px;
}

/* PORTFÓLIO */

.portfolio{
    width: 100%;
    /* height: 820px; */
    background: $secondary-color;
    /* text-align: center; */
    padding: 30px 0;
}

.portfolio .call p{
        color: $white;
}

.portfolio h2{ /* .portfolio .subtitle */
    color: $primary-color;
}

.portfolio h2:after{ /* .portfolio .subtitle:after */
    background: $primary-color;
}

.portfolio_lista li:last-child{ /* mexe no ultimo item do elemento */
    margin-top: 20px;
}

/* QUALIDADE */

.qualidade{
    padding: 60px 0;
}

.qualidade:after{
    content: "";
    width: 634px;
    height: 83px;
    display: block;
    background: url("../img/linhas.svg") no-repeat;
    position: absolute;/* relativo ao container */
    top: 207px;
    right: 162px;
    z-index: -1;/* garante que elemento fique sempre atras de tudo */
    @include d(m){
        display: none;
    }
}

.qualidade img{
    margin: 0 auto;
}

.qualidade_lista{
    padding-top: 20px;
    overflow: auto; /* clear-fix - limpar flutuação dos elementos p n haver sobreposição */
}

.qualidade_lista li{
    text-align: center;
    padding: 10px;
}

.qualidade_lista li h3{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 20px;
    @include tipo-1 (18);
}

.qualidade_lista li h3:after{
    content: " ";
    display: block;
    width: 60px;
    height: 3px;
    background: $secondary-color;
    margin: 6px auto;
}

/* QUEBRA */

.quebra{
    width: 100%;
    height: 220px;
    text-align: center;
    background: url("../img/bg-footer.jpg") no-repeat center;
    background-size: cover;
    padding-top: 40px;
}

.quebra .quote_externo{
    max-width: 400px; /* pra quebrar o txt em apenas duas linhas */

}

/* FOOTER */

.footer{
    width: 100%;
    background: $secondary-color;
    color: $white;
    padding: 20px 0;
}

.footer h3 { 
    color: $primary-color;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
    @include tipo-1 (18);
}

.footer h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: $primary-color;
    margin: 6px 0 12px 0;
} 

.footer_historia{
    padding-right: 80px;
}

.footer_contato ul li{
    @include tipo-2 (14);
}

.footer_redes ul li{
    display: inline-block;
    /* list-style: none; */
    margin-right: 10px;
}

.footer_redes ul li a{
    border: $primary-color solid 3px;
    display: block;
    padding: 10px;
    @include d(t){
        padding: 6px;
    }
}

.footer_redes ul li a img{
    @include d(t){
        width: 26px;
        height: 26px;
    }

}

.footer_redes ul li a:hover{
    border-color: $white;
}

.copy{
    width: 100%;
    background: $primary-color;
    padding: 20px 0;
}

.copy p{
    @include d(m){
    margin: 0 0 10px;
    }
}

/* JAVASCRIPT */
.js [data-slide] {
position: relative;
}
.js [data-slide] > * {
position: absolute;
top: 0px;
opacity: 0;
}
.js [data-slide] > .active {
position: relative;
opacity: 1;
transition: opacity 800ms;
}

.js [data-slide-nav] {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.js [data-slide-nav] button {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 4px;
    padding: 0px;
    border: none;
    border-radius: 8px;
    text-indent: -99px; /* separar os numeros de dentro do elemento */
    overflow: hidden; /* esconde numeros */
    background: #1d1d1d;
}    

.js [data-slide-nav] button.active {
    background: $primary-color;
}

.js [data-anime] {
    opacity: 0;
}

.js .fadeindown{
    transform: translate3d(0, -20px, 0);
}

.js .anime{
    opacity: 1;
    transform: none;
    transition: opacity 800ms, transform 800ms;
}

/* FORMULÁRIO */

#form-sucesso{
    color: green;
}

#form-erro{
    color: red;
}

/* PEGA BOT */

.nao-aparece{
    visibility: hidden;
    position: absolute;
    height: 0;
}

