@mixin d ($dispositivo) {
	@if $dispositivo == t{
		@media only screen and (min-width: 788px) and (max-width: 979px){
			@content;
		}
	}
	@else if $dispositivo == m{
		@media only screen and (max-width: 787px){
			@content;
		}
	}
}

*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}


$container: 960;
$colunas: 16;
$gutter: 20;

%grid {
	float: left;
	margin-left: ($gutter / 2) + px;
	margin-right: ($gutter / 2) + px;
}

@for $i from 1 through 16 {
	$width: $container / $colunas * $i - $gutter;
	.grid-#{$i} {
		@extend %grid;
		width: $width + px;
	}
}

.grid-1-3{
	@extend %grid;
	width: ($container/3) - $gutter +px;
}

.container {
	width: $container + px;  /* TAMANHO PADRÃO*/
	margin: 0 auto;
	padding: 0px;
	position: relative;
}

.container:after, .container:before {
	content: " ";
	display: table;
}

.container:after {
	clear: both;
}

/* CALCULO GRID:

(tamanho do container / total de colunas x coluna exata) - Gutter(margens)

EX: (960 / 16 x 5) - 20 = 280



/* RESPONSIVIDADE TABLET*/
@include d(t) {
$container: 768;

@for $i from 1 through 16 {
	$width: $container / $colunas * $i - $gutter;
	.grid-#{$i} {
		width: $width + px;
	}
}

.grid-1-3{
	width: ($container/3) - $gutter +px;
}


.container {
	/* TAMANHO PADRÃO*/
	width: $container + px;
	margin: 0 auto;
	padding: 0px;
	position: relative;
}
/* (container / colunas x coluna) - Gutter */
.grid-1 	{width: 28px;}
.grid-2 	{width: 76px;}
.grid-3 	{width: 124px;}
.grid-4 	{width: 172px;}
.grid-5 	{width: 220px;}
.grid-6 	{width: 268px;}
.grid-7 	{width: 316px;}
.grid-8 	{width: 364px;}
.grid-9 	{width: 412px;}
.grid-10 	{width: 460px;}
.grid-11 	{width: 508px;}
.grid-12 	{width: 556px;}
.grid-13 	{width: 604px;}
.grid-14 	{width: 652px;}
.grid-15 	{width: 700px;}
.grid-16 	{width: 748px;}
.grid-1-3	{width: 236px;}/* (gutter + tamanho coluna) - container / 3 */

}
/* RESPONSIVIDADE PHONE*/
@include d(m) {

$container: 300;

%mobile {
	width: $container + px;
	margin: 0 0 20px ;
	float: none;
}

@for $i from 1 through 16 {
	.grid-#{$i} {
		@extend %mobile;
	}
}

.grid-1-3{
	@extend %mobile;
}

.container{
	width: $container + px;
}

}