.intro-portfolio{
    background: url("../img/bg-portfolio.jpg") no-repeat center;
    background-size: cover;
}

.quote-cliente{
    padding: 60px 0;
    max-width: 500px;
    margin: 0 auto;
}

.quote-cliente p{
    text-align: center;
    margin-bottom: 20px;
    @include tipo-2(18);
    font-style: italic;
}

.quote-cliente cite{
    @include tipo-1 (18);
    font-weight: bold;
    float: right;
    font-style: normal;

}