.intro-produtos{
    background: url("../img/bg-produtos.jpg") no-repeat center;
    background-size: cover;
}

.produto-item{
    padding-top: 60px;
}

.produto-item h2{
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
    position: relative; /* define posição do h2 mais incisivamente, pra ficar for cima da img */
    top: -180px;
    text-align: center;
    color: $white;
    margin-bottom: -51px;
    @include tipo-1(36);
    @include d(t){
        top: -150px;
    }
    @include d(m){
        top: -100px;
        margin-bottom: -68px;
    }
}

.produto-item h2:after, .produto-item h2:before{
    content: " ";
    display: block;
    width: 60px;
    height: 3px;
    background: $white;
    margin: 6px auto;
}

.produto-icon{
    background: $secondary-color;
    padding: 70px 0;
    @include d(t){
        padding: 41px 0;
    }
    @include d(m){
        padding: 41px;
    }
}

.produto-icon img{
    margin: 0 auto;
}

.produto-info{
    background: $secondary-color;
    margin-bottom: 60px;
    /* text-align: center; */
    @include d(m){
        margin-bottom: 180px;
    }
}

.produto-info p{
    color: $white;
    padding: 30px 30px;
    height: 180px;
    @include tipo-1 (18);
    @include d(t){
        padding: 20px 30px;
        height: 121px;
        @include tipo-1 (14);
    }
    @include d(m){
        padding: 20px 20px;
        height: auto;
        @include tipo-1 (14);
    }
}

.produto-info ul li{
    background: $primary-color;
    @include tipo-1 (18);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 20px;
    float: left;
    width: 229px; /* medidas exatas */
    height: 49px; /* do tamanho da div */
    text-align: center;
    padding: 20px 0;
    @include d(t){
        width: 181px; /* medidas exatas */
        height: 49px; /* do tamanho da div */
    }
    @include d(m){
        width: 149px; /* medidas exatas */
        height: 49px; /* do tamanho da div */
        @include tipo-1 (14);
        padding: 14px;
    }
}

.produto-info ul li:nth-child(1), .produto-info ul li:nth-child(2){ /* seleciona os 2 primeiros elementos */
    margin-bottom: 2px;
}

.produto-info ul li:nth-child(even){
    margin-left: 2px;
}

/* FORMULÁRIO ORÇAMENTO */

.orcamento{
    width: 100%;
    background: $secondary-color;
    padding: 40px 0;
}

.orcamento h2{
    color: $primary-color;
    /* padding-top: 30px; */
}

.orcamento h2:after{
    background: $primary-color;
}

.form label{
    display: block;
    color: $white;
    margin-bottom: 4px;
    @include tipo-2(18);
}

.form input{
    display: block;
    width: 100%;
    background: none;
    border: $primary-color 4px solid;
    color: $white;
    padding: 7px 10px;
    margin-bottom: 10px;
    outline: none; /* tira efeito de contorno da borda */
    @include tipo-2 (14);
}

.form textarea{
    display: block;
    width: 100%;
    height: 120px;
    background: none;
    border: $primary-color 4px solid;
    color: $white;
    padding: 7px 10px;
    margin-bottom: 20px;
    outline: none; /* tira efeito de contorno da borda */
    @include tipo-2 (14);
}

.form button{
    background: none;
    padding: 7px 40px;
}

/* DADOS ORÇAMENTO */

.dados-orcamento{
    color:$white;
    padding-left: 60px;
    @include d(m){
        padding-left: 0px;
        padding-top: 20px;
    }
}

.dados-orcamento h3{
    color: $primary-color;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    @include tipo-1 (18);
    line-height: 20px
}

.dados-orcamento span{
    display: block;
    @include tipo-2 (18);
    line-height: 30px;
}

.dados-orcamento span:nth-of-type(even){
    margin-bottom: 45px;
}

.dados-orcamento p{
    margin-bottom: 8px;
}

.dados-orcamento ul{
    padding-right: 60px;
    @include d(m){
        padding-right: 0px;
    }
}

.dados-orcamento ul li{
    padding: 7px 10px;
    @include tipo-2 (14);
}

.dados-orcamento ul li:nth-child(odd){
    background: #1d1d1d;
}