@charset "UTF-8";
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
   Reset
   ========================================================================== */
/**
 * Remove anchor text-decoration// sublinhado padrão em links
 */
a {
  text-decoration: none;
}

/**
 * Remove list-style 
 */
ol, ul {
  list-style: none;
}

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, footer, header, nav, section, main {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, p, a, ul {
  font-size: 1em;
  font-weight: normal;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-1-3 {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.grid-1 {
  width: 40px;
}

.grid-2 {
  width: 100px;
}

.grid-3 {
  width: 160px;
}

.grid-4 {
  width: 220px;
}

.grid-5 {
  width: 280px;
}

.grid-6 {
  width: 340px;
}

.grid-7 {
  width: 400px;
}

.grid-8 {
  width: 460px;
}

.grid-9 {
  width: 520px;
}

.grid-10 {
  width: 580px;
}

.grid-11 {
  width: 640px;
}

.grid-12 {
  width: 700px;
}

.grid-13 {
  width: 760px;
}

.grid-14 {
  width: 820px;
}

.grid-15 {
  width: 880px;
}

.grid-16 {
  width: 940px;
}

.grid-1-3 {
  width: 300px;
}

.container {
  width: 960px;
  /* TAMANHO PADRÃO*/
  margin: 0 auto;
  padding: 0px;
  position: relative;
}

.container:after, .container:before {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

/* CALCULO GRID:

(tamanho do container / total de colunas x coluna exata) - Gutter(margens)

EX: (960 / 16 x 5) - 20 = 280



/* RESPONSIVIDADE TABLET*/
@media only screen and (min-width: 788px) and (max-width: 979px) {
  .grid-1 {
    width: 28px;
  }
  .grid-2 {
    width: 76px;
  }
  .grid-3 {
    width: 124px;
  }
  .grid-4 {
    width: 172px;
  }
  .grid-5 {
    width: 220px;
  }
  .grid-6 {
    width: 268px;
  }
  .grid-7 {
    width: 316px;
  }
  .grid-8 {
    width: 364px;
  }
  .grid-9 {
    width: 412px;
  }
  .grid-10 {
    width: 460px;
  }
  .grid-11 {
    width: 508px;
  }
  .grid-12 {
    width: 556px;
  }
  .grid-13 {
    width: 604px;
  }
  .grid-14 {
    width: 652px;
  }
  .grid-15 {
    width: 700px;
  }
  .grid-16 {
    width: 748px;
  }
  .grid-1-3 {
    width: 236px;
  }
  .container {
    /* TAMANHO PADRÃO*/
    width: 768px;
    margin: 0 auto;
    padding: 0px;
    position: relative;
  }
  /* (container / colunas x coluna) - Gutter */
  .grid-1 {
    width: 28px;
  }
  .grid-2 {
    width: 76px;
  }
  .grid-3 {
    width: 124px;
  }
  .grid-4 {
    width: 172px;
  }
  .grid-5 {
    width: 220px;
  }
  .grid-6 {
    width: 268px;
  }
  .grid-7 {
    width: 316px;
  }
  .grid-8 {
    width: 364px;
  }
  .grid-9 {
    width: 412px;
  }
  .grid-10 {
    width: 460px;
  }
  .grid-11 {
    width: 508px;
  }
  .grid-12 {
    width: 556px;
  }
  .grid-13 {
    width: 604px;
  }
  .grid-14 {
    width: 652px;
  }
  .grid-15 {
    width: 700px;
  }
  .grid-16 {
    width: 748px;
  }
  .grid-1-3 {
    width: 236px;
  }
  /* (gutter + tamanho coluna) - container / 3 */
}

/* RESPONSIVIDADE PHONE*/
@media only screen and (max-width: 787px) {
  .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-1-3 {
    width: 300px;
    margin: 0 0 20px;
    float: none;
  }
  .container {
    width: 300px;
  }
}

/* ESTILOS GERAIS */
body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  line-height: 20px;
}

img {
  display: block;
  max-width: 100%;
  /* img fluída */
}

.btn {
  border: 3px solid #FEC63E;
  padding: 10px 30px;
  color: #FEC63E;
  font-family: monospace;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.btn:hover {
  color: #FFF;
  border-color: #FFF;
}

.btn.btn-preto:hover {
  color: #111;
  border-color: #111;
}

.subtitle {
  font-family: monospace;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #111;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.subtitle:after {
  content: " ";
  display: block;
  width: 60px;
  height: 3px;
  background: #111;
  margin: 6px auto;
}

.subtitle-interno {
  font-family: monospace;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #111;
  letter-spacing: .1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subtitle-interno:after {
  content: " ";
  display: block;
  width: 60px;
  height: 3px;
  background: #111;
  margin: 6px;
}

/* HEADER */
.header {
  position: fixed;
  /* sempre fixo no */
  top: 0;
  /* topo do site */
  width: 100%;
  /* pegar de ponta a ponta da pag*/
  background-color: #FEC63E;
  padding: 15px 0;
  z-index: 10;
  /* posiciona o header por cima do elemento com position */
}

@media only screen and (max-width: 787px) {
  .header {
    position: relative;
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 787px) {
  .header img {
    margin: 0 auto 12px;
  }
}

.header_menu {
  text-align: right;
  /*padding: 20px 0;*/
}

@media only screen and (max-width: 787px) {
  .header_menu {
    text-align: center;
  }
}

.header_menu ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 20px;
}

@media only screen and (max-width: 787px) {
  .header_menu ul li {
    margin: 4px;
  }
}

.header_menu ul li a {
  color: #111;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-family: monospace;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  padding: 10px 0;
}

@media only screen and (max-width: 787px) {
  .header_menu ul li a {
    border: 4px solid #111;
    width: 136px;
    display: block;
    float: left;
  }
}

.header_menu ul li a:hover {
  color: #FFF;
}

@media only screen and (max-width: 787px) {
  .header_menu ul li a:hover {
    border-color: #FFF;
  }
}

.header_menu ul li a.menu-ativo {
  /* cor no title da pag atual */
  color: #FFF;
}

/* INTRODUÇÃO */
.introducao {
  width: 100%;
  height: 380px;
  background: url("../img/bg.jpg") no-repeat center;
  background-size: cover;
  margin-top: 92px;
  text-align: center;
  padding-top: 80px;
}

@media only screen and (max-width: 787px) {
  .introducao {
    margin: 0;
    padding: 40px;
    background: url("../img/bg-mobile.jpg") no-repeat center;
    background-size: cover;
  }
}

.introducao h1 {
  font-family: monospace;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: bold;
  color: #FFF;
}

@media only screen and (max-width: 787px) {
  .introducao h1 {
    font-family: monospace;
    font-size: 36px;
  }
}

/* INTRODUÇÃO INTERNA */
.introducao-interna {
  width: 100%;
  height: 160px;
  margin-top: 92px;
  text-align: center;
  color: #FFF;
  padding-top: 30px;
}

@media only screen and (max-width: 787px) {
  .introducao-interna {
    margin: 0;
  }
}

.introducao-interna h1 {
  font-family: monospace;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bold;
  /* color: $white; */
}

.introducao-interna h1:after {
  content: " ";
  display: block;
  width: 60px;
  height: 3px;
  background: #FFF;
  margin: 6px auto;
}

.quote_externo {
  max-width: 259px;
  margin: 0 auto;
  color: #FFF;
  margin-bottom: 50px;
}

.quote_externo p {
  font-style: italic;
}

.quote_externo p:before, .quote_externo p:after {
  content: " ";
  display: block;
  width: 60px;
  height: 3px;
  background: #FFF;
  margin: 10px auto;
}

.quote_externo cite {
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-family: monospace;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .1em;
}

/* PRODUTOS */
.produtos {
  padding: 60px 0;
}

.produtos_lista li {
  background: #FEC63E;
  text-align: center;
}

.produtos_lista img {
  margin: 0 auto;
}

.produtos_lista li h3 {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-top: 20px;
  font-family: monospace;
  font-size: 18px;
  line-height: 25px;
}

.produtos_lista li h3:after {
  content: " ";
  display: block;
  width: 60px;
  height: 3px;
  background: #111;
  margin: 2px auto;
}

.produtos_icone {
  padding: 20px;
  background: #111;
}

.produtos_lista li p {
  padding: 10px 20px 20px 20px;
}

.call {
  text-align: center;
  clear: both;
  /* limpa o float */
  padding-top: 20px;
}

@media only screen and (max-width: 787px) {
  .call {
    padding-top: 10px;
  }
}

.call p {
  margin-bottom: 20px;
}

/* PORTFÓLIO */
.portfolio {
  width: 100%;
  /* height: 820px; */
  background: #111;
  /* text-align: center; */
  padding: 30px 0;
}

.portfolio .call p {
  color: #FFF;
}

.portfolio h2 {
  /* .portfolio .subtitle */
  color: #FEC63E;
}

.portfolio h2:after {
  /* .portfolio .subtitle:after */
  background: #FEC63E;
}

.portfolio_lista li:last-child {
  /* mexe no ultimo item do elemento */
  margin-top: 20px;
}

/* QUALIDADE */
.qualidade {
  padding: 60px 0;
}

.qualidade:after {
  content: "";
  width: 634px;
  height: 83px;
  display: block;
  background: url("../img/linhas.svg") no-repeat;
  position: absolute;
  /* relativo ao container */
  top: 207px;
  right: 162px;
  z-index: -1;
  /* garante que elemento fique sempre atras de tudo */
}

@media only screen and (max-width: 787px) {
  .qualidade:after {
    display: none;
  }
}

.qualidade img {
  margin: 0 auto;
}

.qualidade_lista {
  padding-top: 20px;
  overflow: auto;
  /* clear-fix - limpar flutuação dos elementos p n haver sobreposição */
}

.qualidade_lista li {
  text-align: center;
  padding: 10px;
}

.qualidade_lista li h3 {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-top: 20px;
  font-family: monospace;
  font-size: 18px;
  line-height: 25px;
}

.qualidade_lista li h3:after {
  content: " ";
  display: block;
  width: 60px;
  height: 3px;
  background: #111;
  margin: 6px auto;
}

/* QUEBRA */
.quebra {
  width: 100%;
  height: 220px;
  text-align: center;
  background: url("../img/bg-footer.jpg") no-repeat center;
  background-size: cover;
  padding-top: 40px;
}

.quebra .quote_externo {
  max-width: 400px;
  /* pra quebrar o txt em apenas duas linhas */
}

/* FOOTER */
.footer {
  width: 100%;
  background: #111;
  color: #FFF;
  padding: 20px 0;
}

.footer h3 {
  color: #FEC63E;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .1em;
  font-family: monospace;
  font-size: 18px;
  line-height: 25px;
}

.footer h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #FEC63E;
  margin: 6px 0 12px 0;
}

.footer_historia {
  padding-right: 80px;
}

.footer_contato ul li {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  line-height: 20px;
}

.footer_redes ul li {
  display: inline-block;
  /* list-style: none; */
  margin-right: 10px;
}

.footer_redes ul li a {
  border: #FEC63E solid 3px;
  display: block;
  padding: 10px;
}

@media only screen and (min-width: 788px) and (max-width: 979px) {
  .footer_redes ul li a {
    padding: 6px;
  }
}

@media only screen and (min-width: 788px) and (max-width: 979px) {
  .footer_redes ul li a img {
    width: 26px;
    height: 26px;
  }
}

.footer_redes ul li a:hover {
  border-color: #FFF;
}

.copy {
  width: 100%;
  background: #FEC63E;
  padding: 20px 0;
}

@media only screen and (max-width: 787px) {
  .copy p {
    margin: 0 0 10px;
  }
}

/* JAVASCRIPT */
.js [data-slide] {
  position: relative;
}

.js [data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
}

.js [data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 800ms;
}

.js [data-slide-nav] {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.js [data-slide-nav] button {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 4px;
  padding: 0px;
  border: none;
  border-radius: 8px;
  text-indent: -99px;
  /* separar os numeros de dentro do elemento */
  overflow: hidden;
  /* esconde numeros */
  background: #1d1d1d;
}

.js [data-slide-nav] button.active {
  background: #FEC63E;
}

.js [data-anime] {
  opacity: 0;
}

.js .fadeindown {
  transform: translate3d(0, -20px, 0);
}

.js .anime {
  opacity: 1;
  transform: none;
  transition: opacity 800ms, transform 800ms;
}

/* FORMULÁRIO */
#form-sucesso {
  color: green;
}

#form-erro {
  color: red;
}

/* PEGA BOT */
.nao-aparece {
  visibility: hidden;
  position: absolute;
  height: 0;
}

.intro-sobre {
  background: url("../img/bg-sobre.jpg") no-repeat center;
  background-size: cover;
}

.missao-sobre {
  padding-top: 60px;
}

.missao-sobre p {
  margin-bottom: .1em;
  padding-right: 60px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 25px;
}

.missao-sobre ul li {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 25px;
  line-height: 30px;
}

.foto-equipe {
  padding-top: 20px;
}

.intro-produtos {
  background: url("../img/bg-produtos.jpg") no-repeat center;
  background-size: cover;
}

.produto-item {
  padding-top: 60px;
}

.produto-item h2 {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
  position: relative;
  /* define posição do h2 mais incisivamente, pra ficar for cima da img */
  top: -180px;
  text-align: center;
  color: #FFF;
  margin-bottom: -51px;
  font-family: monospace;
  font-size: 36px;
}

@media only screen and (min-width: 788px) and (max-width: 979px) {
  .produto-item h2 {
    top: -150px;
  }
}

@media only screen and (max-width: 787px) {
  .produto-item h2 {
    top: -100px;
    margin-bottom: -68px;
  }
}

.produto-item h2:after, .produto-item h2:before {
  content: " ";
  display: block;
  width: 60px;
  height: 3px;
  background: #FFF;
  margin: 6px auto;
}

.produto-icon {
  background: #111;
  padding: 70px 0;
}

@media only screen and (min-width: 788px) and (max-width: 979px) {
  .produto-icon {
    padding: 41px 0;
  }
}

@media only screen and (max-width: 787px) {
  .produto-icon {
    padding: 41px;
  }
}

.produto-icon img {
  margin: 0 auto;
}

.produto-info {
  background: #111;
  margin-bottom: 60px;
  /* text-align: center; */
}

@media only screen and (max-width: 787px) {
  .produto-info {
    margin-bottom: 180px;
  }
}

.produto-info p {
  color: #FFF;
  padding: 30px 30px;
  height: 180px;
  font-family: monospace;
  font-size: 18px;
  line-height: 25px;
}

@media only screen and (min-width: 788px) and (max-width: 979px) {
  .produto-info p {
    padding: 20px 30px;
    height: 121px;
    font-family: monospace;
    font-size: 14px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 787px) {
  .produto-info p {
    padding: 20px 20px;
    height: auto;
    font-family: monospace;
    font-size: 14px;
    line-height: 20px;
  }
}

.produto-info ul li {
  background: #FEC63E;
  font-family: monospace;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 20px;
  float: left;
  width: 229px;
  /* medidas exatas */
  height: 49px;
  /* do tamanho da div */
  text-align: center;
  padding: 20px 0;
}

@media only screen and (min-width: 788px) and (max-width: 979px) {
  .produto-info ul li {
    width: 181px;
    /* medidas exatas */
    height: 49px;
    /* do tamanho da div */
  }
}

@media only screen and (max-width: 787px) {
  .produto-info ul li {
    width: 149px;
    /* medidas exatas */
    height: 49px;
    /* do tamanho da div */
    font-family: monospace;
    font-size: 14px;
    line-height: 20px;
    padding: 14px;
  }
}

.produto-info ul li:nth-child(1), .produto-info ul li:nth-child(2) {
  /* seleciona os 2 primeiros elementos */
  margin-bottom: 2px;
}

.produto-info ul li:nth-child(even) {
  margin-left: 2px;
}

/* FORMULÁRIO ORÇAMENTO */
.orcamento {
  width: 100%;
  background: #111;
  padding: 40px 0;
}

.orcamento h2 {
  color: #FEC63E;
  /* padding-top: 30px; */
}

.orcamento h2:after {
  background: #FEC63E;
}

.form label {
  display: block;
  color: #FFF;
  margin-bottom: 4px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 25px;
}

.form input {
  display: block;
  width: 100%;
  background: none;
  border: #FEC63E 4px solid;
  color: #FFF;
  padding: 7px 10px;
  margin-bottom: 10px;
  outline: none;
  /* tira efeito de contorno da borda */
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  line-height: 20px;
}

.form textarea {
  display: block;
  width: 100%;
  height: 120px;
  background: none;
  border: #FEC63E 4px solid;
  color: #FFF;
  padding: 7px 10px;
  margin-bottom: 20px;
  outline: none;
  /* tira efeito de contorno da borda */
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  line-height: 20px;
}

.form button {
  background: none;
  padding: 7px 40px;
}

/* DADOS ORÇAMENTO */
.dados-orcamento {
  color: #FFF;
  padding-left: 60px;
}

@media only screen and (max-width: 787px) {
  .dados-orcamento {
    padding-left: 0px;
    padding-top: 20px;
  }
}

.dados-orcamento h3 {
  color: #FEC63E;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-family: monospace;
  font-size: 18px;
  line-height: 25px;
  line-height: 20px;
}

.dados-orcamento span {
  display: block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 25px;
  line-height: 30px;
}

.dados-orcamento span:nth-of-type(even) {
  margin-bottom: 45px;
}

.dados-orcamento p {
  margin-bottom: 8px;
}

.dados-orcamento ul {
  padding-right: 60px;
}

@media only screen and (max-width: 787px) {
  .dados-orcamento ul {
    padding-right: 0px;
  }
}

.dados-orcamento ul li {
  padding: 7px 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  line-height: 20px;
}

.dados-orcamento ul li:nth-child(odd) {
  background: #1d1d1d;
}

.intro-portfolio {
  background: url("../img/bg-portfolio.jpg") no-repeat center;
  background-size: cover;
}

.quote-cliente {
  padding: 60px 0;
  max-width: 500px;
  margin: 0 auto;
}

.quote-cliente p {
  text-align: center;
  margin-bottom: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 25px;
  font-style: italic;
}

.quote-cliente cite {
  font-family: monospace;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  float: right;
  font-style: normal;
}

.intro-contato {
  background: url("../img/bg.jpg") no-repeat center;
  background-size: cover;
}

/* FORMULÁRIO CONTATO */
.contato {
  padding: 40px 0;
}

.form-contato {
  padding-right: 60px;
}

@media only screen and (max-width: 787px) {
  .form-contato {
    padding-right: 0px;
    margin-bottom: 40px;
  }
}

.form-contato label {
  display: block;
  margin-bottom: 4px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 25px;
}

.form-contato input {
  display: block;
  width: 100%;
  background: none;
  border: #FEC63E 4px solid;
  padding: 7px 10px;
  margin-bottom: 10px;
  outline: none;
  /* tira efeito de contorno da borda */
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  line-height: 20px;
}

.form-contato textarea {
  display: block;
  width: 100%;
  height: 120px;
  background: none;
  border: #FEC63E 4px solid;
  padding: 7px 10px;
  margin-bottom: 20px;
  outline: none;
  /* tira efeito de contorno da borda */
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  line-height: 20px;
}

.form-contato button {
  background: none;
  padding: 7px 40px;
}

/* DADOS CONTATO */
.dados-contato {
  padding-right: 60px;
}

.dados-contato h3 {
  color: #FEC63E;
  text-transform: uppercase;
  font-family: monospace;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  letter-spacing: .1em;
  line-height: 20px;
}

.dados-contato span {
  display: block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 25px;
  line-height: 30px;
}

.dados-contato span:nth-of-type(even) {
  margin-bottom: 30px;
}

/* REDES SOCIAIS */
.dados-contato ul {
  margin-top: 10px;
}

.dados-contato ul li {
  display: inline-block;
  /* list-style: none; */
  margin-right: 10px;
}

.dados-contato ul li a {
  border: #FEC63E solid 3px;
  display: block;
  padding: 10px;
}

.dados-contato ul li a:hover {
  border-color: #111;
}

.mapa {
  margin-bottom: 60px;
}
